
#Main_Content_Sub{
    display: flex;
    gap: 2rem;
   
}



#subContainer{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.amanImg{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
#aiOut{
    width: 20px;
   
    border-radius: 50%;
   text-align: center;
    color: white;
    font-weight: bolder;
   background-color: blue;
    position: relative;
    left: 3.1rem;
    bottom: 2.4rem;
}
#StoryLine{
   
  padding-top: 1.6rem;
  padding-left: 0.5rem;
  box-sizing: border-box;
  
 
}
.imgStory{
    display: flex;
    flex-direction: column;
    
    
}
.imgStory span{
    position: relative;
    bottom: 3.4rem;
}
.SideStory{
    display: flex;
    flex-direction: column;
    text-align: center;
    
   
}

#subStory{
    display: flex;
    gap: 2rem;
    text-align: center;
    overflow-x: scroll;
    scroll-behavior: smooth;
    z-index: 10;
    cursor: grab;
       
}
#subStory::-webkit-scrollbar {
    display: none;
}
#subStory {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


.doremon{
    border-radius: 50%;
    border: 1px solid rgb(195, 63, 63);
    padding: 0.2rem;
}
.Media_icons{
  display: flex;
  justify-content: space-between;

}
.subMediaData{
    display: flex;
    gap: 1rem;

}
.subMediaData img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.Media{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding-top:1rem ;
}
.Media_img_data{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
   
}

.dataOFLikeCommentShare{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}
.likeCommentShare{
    display: flex;
    gap: 1rem;
    
}
.likeCommentShare p:nth-child(2):hover{
    color: rgb(149, 149, 149);
}

.sec1{
    display: flex;
 
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  height: 155vh;
  padding: 1rem;
  margin-top: -1rem;
 
 
}

.Desktop_left_side_menu{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: fixed;
    left: 1;
    height: inherit;
    border-right: 1px solid rgb(210, 206, 206);
    width: 15%;
    
    
}
.leftIconList{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
   
    
  
}

.refrenceForRoute{
    text-decoration: none;
    color:inherit;
}

.arrowRotate{
    transform: rotate(90deg);
    font-size: 1.5rem;
    transition: transform 0.1s;
}
.arrowRotate:hover{
     transform: scale(2) rotate(90deg);
}

.bottom_left_side_menu{
    position: fixed;
    left: 1;
    bottom: 0;
   
    padding-bottom: 2rem;
}

.sec2{
    width: 35%;
   padding-left: 4rem;

    
}

.scrollObject{
    display: flex;
    justify-content: space-between;
   position: relative;
   top: 3.5rem;
   font-size: 2rem;
   font-weight: bolder;
   color: rgb(142, 140, 140);
   
}



.overlay{
    background-color: rgba(107, 103, 103,0);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 1100;
}
.overlay1{
    background-color: rgba(107, 103, 103,0);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 1000;
}


#setting_data_container{
   width: 12%;
    left: 1;
     
    display: flex;
    flex-direction: column;
   
    padding: 1rem;
    background-color:rgb(203, 203, 203);
    border: 3px solid rgba(179, 174, 174,.3);
   
 position: fixed;
     z-index: 1300;
font-size: 1rem;
border-radius: 5px;
bottom:10%;

}

.sub1_data_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
   
   
}
.child_sub_data{
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(184, 176, 176);
    padding-bottom: 0.5rem;
}
.HiMenu{
    color: rgb(140, 133, 133);
    font-size: 2rem;
   transition:color 0.5s;
}

.HiMenu:hover{
color: rgb(11, 7, 7);
}

.List_Data_Child{
    display: flex;
    gap: 1rem;
   
    transition: font-weight 0.1s,transform 0.1s;
   
   
}
.List_Data_Child:hover{
  
   font-weight: bolder;
   transform: scale(1.1) translateX(8px);
    
}
.List_Data_Child span{
   font-size: 1rem;
    
   
}

.icon_Size{
    font-size: 1.5rem;
    border-radius: 10px;
    transition: transform 0.1s;
}
#icon_responsive_instagram_text{
    font-size: 1.5rem;
    border-radius: 10px;
    display: none;
}


.instaIcon{
   padding-top: 2rem; 
}
.instaIcon span{
    font-size: 1.5rem;
    font-family:fantasy;
}

.Main_Content_black{
    background-color: black;
    color: white;
}
.Main_Content_white{
    background-color:white;
    color: black;
}
.commentSection input{
  outline: none;
  border-bottom: 1px solid rgba(82, 74, 74, 0.4);
  background: none;
  color: inherit;
}

.heartSecondIcon{
    color: red;
}
.parent_of_media_uploading{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay_uploading_file{
    width: 100%;
    height: 100%;
    background-color:rgba(73, 64, 64,0.8);
   
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;

}
.file_uploading_container{
    width: 35%;
    
    background-color:rgb(255, 255, 255);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    z-index: 1300;
  
    border-radius: 10px;
    padding-bottom: 3rem;
}
.file_uploading_container h4{
    width: 98%;
    border-bottom: 1px solid rgb(204, 204, 204);
    padding-bottom: 0.8rem;
    text-align: center;
    
}

#fileUploadingBtn{
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    background-color:#0095F6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;

}
.imageOrVideo_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageOrVideo_container img{
    width: 30%;
    height: 30%;

}
.imageOrVideo_container h5{
    font-size: large;
    color: rgb(108, 108, 108);
}

.cropHeader{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;
   
    border-bottom: 1px solid rgb(204, 204, 204);
    padding-left: 1rem;
    padding-right: 1rem;
}
.cropHeader p:nth-child(3){
    color: #0095F6;
}
.cropImage_container img{
    width: 20rem;
    height: 20rem;
}

.subProfile_tite_container{
    display: flex;
    justify-content: space-between;
}

.profile_titleText_img_container{
    display: flex;
    gap: 1rem;
}

.profile_titleText_img_container img{
    width: 25%;
    height: 60%;
    border-radius: 50%;
}
.profiletitleName{
   position: relative;
   bottom: 0.7rem;
}
.profiletitleName h5:nth-child(2){
    position: relative;
    bottom: 1.5rem;
    color: rgb(134, 127, 127);
    text-transform: capitalize;
 }
 .Switchtext_for_profile{
    color: #0095F6;
 }


.profile_subText_img_container{
    display: flex;
    gap: 1rem;
}
.profile_subText_img_container img{
    width: 18%;
    height: 60%;
    border-radius: 50%;
    position: relative;
    bottom: -0.5rem;
}

.footer1{
    padding-top: 4.5rem;
    padding-left: 0.5rem;
    box-sizing: border-box;
    width: 20%;
}

#search_bar_area{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
    gap: 1rem;
    transition:all 0.1s;
}
.search_Bar_two{
    visibility: visible;
    height: 100%;
    width: 28%;
    position: fixed;
    top: 0;
    background-color: rgb(229, 229, 229);
    left: 4rem;
    z-index: 1200;
    bottom: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.search_Bar_one{
    height: 100%;
    width: 0%;
    position: fixed;
    top: 0;
    background-color: rgb(229, 229, 229);
    left: 4rem;
    z-index: 1200;
    bottom: 0;
    visibility: hidden;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.overlay_search{
    position: fixed;
    top: 0;
    height: 100vh;
   
    width: 100vw;
    z-index: 1100;
    background-color:rgba(139, 134, 134, 0);
}
.search_container input{
    position: relative;
    left: 1rem;
    width: 90%;
    height: 2.5rem;
    outline: none;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 1rem;
}
#search_bar_area h2{
    position: relative;
    left: 1.5rem;

}
.search_container p{
    width: 100%;
    height: 0.1rem;
  position: relative;
  top: 1rem;
    background-color: #a1a1a1;
}

.search_container input[placeholder]{
    color: rgb(176, 176, 176);
    text-transform: capitalize;
    font-size: 1rem;
}
.search_container input[type]{
    text-transform:initial;
}
.closecircle{
    position: relative;
    left: -0.5rem;
    top: 0.2rem;
    color: rgb(128, 128, 128);
    
}

.result_of_search_list{
    padding: 0.5rem;
    overflow-y: scroll;
}
.search_list_container{
    display: flex;
    gap: 1rem;
    
}
.search_list_container img{
    width: 18%;
    height: 60%;
    border-radius: 50%;
}
.search_title_container{
    position: relative;
    bottom: 0.8rem;
}
.search_title_container h5{
    position: relative;
    bottom: 1.2rem;
    color: rgb(146, 146, 146);
}

.explore_container{
    display:grid;
    grid-template-columns: max-content max-content max-content;
    padding: 2rem;
   
   
}
.explore_container img{
    width: 15em;
    gap: 1rem;
    aspect-ratio: 2/2;
    transition: transform 0.1s;
    
}
.explore_container img:hover{
    transform: scale(1.1) rotate(15deg);
}
.post_modal_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}
.overlay_for_postmodal{
    background-color: rgba(49, 45, 45, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1300;
 
}
.data_for_post_modal{
    display: grid;
    grid-template-columns: auto;
    background-color: white;
    color: black;
    text-align: center;
    width: 25rem;
    z-index: 1400;
  
    
    border-radius: 10px;
   
   
   
}
.data_for_post_modal span{
    border-bottom: 1px solid rgb(199, 199, 199);
    position: relative;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
    box-sizing: border-box;

}
.data_for_post_modal span:nth-child(8){
    border: none;
}
.data_for_post_modal span:nth-child(1){
   color: red;
}
.data_for_post_modal span:nth-child(2){
    color: red;
 }

 .explore_modal_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    
 }
 .explore_modal_overlay{
    width: 100%;
    height: 100%;position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(41, 41, 41, 0.8);
    z-index: 1400;
 }
 .explore_modal_data_container{
    display: flex;
   
  
    z-index: 1500;
    width: 70%;
    height: 80%;
 }
 .data_img_holder{
   flex-grow: 1;
  
 
 }
 .data_img_holder img{
width: 100%;
height: 100%;
 }
 .popup_explore_details{
    background-color: rgb(255, 255, 255);
    width: 40%;
    height: 100%;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    position: relative;
 }
 .header_of_explore{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(215, 213, 213);
   
 } 
 .header_of_explore .sub_header_title_explore{
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
 }
 .header_of_explore .sub_header_title_explore img{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    
 }
 .header_of_explore h5{
    padding-right: 1rem;
    font-weight: bolder;
 }

 .sub_header_title_explore span:nth-child(4){
    color: #0095F6;

 }
 .likeCommentsharIcon_explorePopup{
  display: flex;
  align-items: end;
   
    padding-left: 1rem;
    
 }

 .username_subtitile_explore{
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    height: 30%;
   overflow: hidden;
 }
 .username_subtitile_explore img{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    
 }
.commentLike_box{
    width: 95%;
    position: absolute;
    bottom: 0;
}

.comment_result_of_explorePopup div{
    padding-left: 1rem;
height: 10rem;
overflow-y: scroll;

   
}
.comment_result_of_explorePopup div::-webkit-scrollbar{
    display: none;
}
.sub_reel_video-container{
    display: flex;
    gap: 1rem;
    position: relative;
    
}
.sub_reel_video-container input{
    display: none;
}
.data_parent_reel_LikeSection{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
}
.likeCommentShare_reels{
    display: flex;
    flex-direction: column;

}
.heartIcon_reel{
    position: relative;
    top: 1.5rem;
    font-size: larger;
     padding-bottom: 0.2rem;}
.heartSecondIcon_reel{
    position: relative;
    top: 1.5rem;
    color: red;
    font-size: larger;
     padding-bottom: 0.2rem;

}
.sub_reel_video-container video{
    padding-bottom: 1rem;
  
    box-shadow: 1px 1px 5px 1px;
    border-radius: 10px;
}

.reel_video-container{
    padding-left: 15rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.like_and_icon_display{
    display: none;
}
.hide_icon_for_explore{
    display: none;
}
.like_count_nameOFclass{
    position: relative;
    left: 0.3rem;
}
.message_list_parent{
    display: flex;
    background-color: #f5f5f5;
    
    width: 80%;
    height: 62%;
    color: black;
}
.message_left{
 
    flex-grow: 1;
   
}
.messageRight{
    
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.message_background_field{
   padding: 1rem;
   width: 80%;
   
   
}
.message_data_right_side{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
}

.arrowMessage_forRoute{
    display: inline-block;
    padding: 1.5rem;
    border: 2px solid black;
    border-radius:50%;
    box-sizing: border-box;

}
.arrowRotate_for_messageRoute{
    transform: rotate(110deg);
    font-size: 3rem;
}
.message_data_right_side button{
    padding: 0.5rem;
    background-color: #0095F6;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
}
.message_left_header{
    display: flex;
    gap: 0.5rem;
    font-size: 1.2rem;
    border: 1px solid rgb(220, 219, 219);
    padding: 0.5rem;
    justify-content: center;
}
.messanger_list_of_data img{
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}
.messanger_list_of_data span{
    position: relative;
    left: 1rem;
    bottom: 1rem;
}
.list_of_messanger{
    height:91%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.overlay_notification{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
left: 0;
    background-color: rgba(255, 255, 255,0);
    z-index: 1150;

}
#notification_area_front{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
    gap: 1rem;
    transition:all 0.1s;
}
.notification_area_front_two{
    visibility: visible;
    position: fixed;
    top:0;
    left: 4rem;
    z-index: 1300;
    width: 27%;
    bottom: 0;
    background-color: #f1f3f4;
}
.notification_area_front_one{
 
   width: 0%;
   position: fixed;
    top:0;
    left: 4rem;
    z-index: 1300;
 
    bottom: 0;
    background-color: #eeeeee;
    visibility: hidden;
  
   
}


.notfication_header_ofmodal{
    padding: 1rem;
}
.follow_request_notification{
    display: flex;
    justify-content: space-between;
}
.request_of_notification_profile{
    display: flex;
    gap: 0.5rem;

}
.icon_notifi_profile{
    font-size: 2.3rem;
}
.userNameOF_profile_nt {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    position: relative;
    top: 0.3rem;
}
.notification_profile_requesat_dot{
    position: relative;
    top: 0.5rem;
    font-size: 1.2rem;
}
.notification_profile_requesat_dot span:nth-child(1){
    color: #0095F6;
    font-size: 1.5rem;
}
.notification_for_month{
    padding: 1rem;

}
.all_follow_data_thisMonth{
    display: flex;
    justify-content: space-between;
}

.thiMonth_noti_userData{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    font-size: 0.8rem;
    position: relative;
    right: 1rem;
    top: 0.3rem;

}

.all_follow_data_thisMonth button{
    padding: 0.5rem;
    font-size: 0.7rem;
    color: white;
    background-color: #0095F6;
    border: none;
    border-radius: 10px;
   
}
.Desktop_left_side_menu {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: fixed;
    left: 1;
    height: inherit;
    border-right: 1px solid rgb(210, 206, 206);
    width: 15%;
}
.userprofile_container{
    padding-left: 7rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
  
}
.userProfile_header_fordynamic{
    display: flex;
    gap: 4rem;
    border-bottom: 1px solid rgb(200, 200, 200);
    padding-bottom: 2rem;
    box-sizing: border-box;
}
.userProfile_header_data_text_first{
    display: flex;
    gap: 1rem;
}
.userProfile_header_data_text_first button{
    padding: 0.7rem;
    border-radius: 5px;
    border: none;
}
.userProfile_header_data_text_first .gearBtn_dynamic{
    font-size: 1.5rem;
}
.userProfile_header_fordynamic .dynamic_img_tag{
    border-radius: 50%;
    width: 8.5rem;
    height: 8.5rem;

}
.user_data_header_textside_fordynamic{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}
.userProfile_header_data_text_third{
    display: flex;
    flex-direction: column;
 
}
.layout_forUserProfile_data{
    display: flex;
    gap: 4rem;
    
    
    
}
.layout_forUserProfile_data .layout_for_userProfile{
     padding-left: 3rem;
   font-size: 0.9rem; 
   color: rgb(184, 184, 184);
   display: flex;
   gap: 0.4rem;
   padding-right: 1.7rem;
}
.layout_for_userProfile_click_layout_active{
    padding-left: 3rem;
    font-size: 0.9rem; 
    color: rgb(196, 196, 196);
    display: flex;
    gap: 0.4rem;
    border-top: 1px solid rgb(87, 85, 85);
    margin-top: -0.1rem;
    padding-top: 1rem;
    padding-right: 1.7rem;
}

.helloBackgroundColorForResponsive{
    display: none;
}




/*media query*/
@media screen and (max-width:1260px) {
 #icon_responsive_instagram_text{
        font-size: 1.5rem;
        border-radius: 10px;
        display: block;
    }
    .List_Data_Child span:nth-child(2){
        display: none;
    }
    .instaIcon .instagram_text{
        display: none;
    }
    
    .Desktop_left_side_menu {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        position: fixed;
        left: 1;
        height: inherit;
        border-right: 1px solid rgb(210, 206, 206);
        width: 5%;
    }
}
@media screen and (max-width: 766px) {
    .cropImage_container img{
        width: 14rem;
        height: 14rem;
    }
    .explore_modal_data_container{
        display: flex;
       
      
        z-index: 1500;
        width: 90%;
        height: 80%;
     }
    .explore_modal_container{
        display: flex;
        justify-content: center;
        align-items: center;
    
        height: 80%;
        position: fixed;
        top: 4em;
      
        
     }
     .data_img_holder{
       width: 100%;
       height: 90%;
       
      
      }
      .popup_explore_details{
        background-color: rgb(255, 255, 255);
        width: 80%;
        height: 90%;
        color: rgb(0, 0, 0);
        border-radius: 5px;
        position: relative;
        font-size: 0.7rem;
     }
     .dataOFLikeCommentShare{
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
    }
    .taggoesLeft{
        padding-right: 1rem;
    }
     
    .file_uploading_container{
        width: 60%;
        
        background-color:rgb(255, 255, 255);
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        z-index: 1300;
      
        border-radius: 10px;
        padding-bottom: 3rem;
    }
    .message_left_header span:nth-child(1), .message_left_header span:nth-child(2){
        display: none;
    }
    .message_username_hide_forRes{
        display: none;
    }
    .message_list_parent{
        padding-top: 3rem;
        display: flex;
        background-color: #f5f5f5;
        width: 100%;
        height: 62%;
        color: black;
    }
    .message_left{
 
       width: 25%;
       
    }
    .message_background_field{
        padding: 1rem;
        width: 100%;
        padding-right: 4rem;
        
        
     }
    
     .reels_container{
       
        overflow-y: scroll;
        position: fixed;
        top: 4rem;
       left: 25%;
     
       right: 1rem;
        bottom: 3rem;
        overflow-x: scroll;
        padding-left: 1rem;
     }
     .sub_reel_video-container{
        width:15rem;
       
     }
     .reels_container::-webkit-scrollbar{
        display: none;
     }
    .reel_video-container{
        padding-left: 0rem;
        padding-top: 4rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
       
    }
    .sub_reel_video-container video{
        padding-bottom: 1rem;
        width: 200px;
        height: 400px;
        box-shadow: 1px 1px 5px 1px;
        border-radius: 10px;
      
    }
    .like_count_nameOFclass{
        position: relative;
        left: 0.3rem;
    }
    .data_parent_reel_LikeSection{
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 1;
        right: -8%;
    }
   .sub_reel_video-container .likeCommentShare_reels p:nth-child(3){
    
       position: relative;
       right: 0.3rem;

    
    }
    .sub_reel_video-container .likeCommentShare_reels p:nth-child(4){
       
        position: relative;
        right: 0.39rem;
 
     
     }
     
   
    .explore_container{
        display:grid;
        grid-template-columns: max-content max-content max-content;
        
        padding: 0rem;
        padding-top: 2rem;
        gap: 1rem;
       
    }
    .explore_container img{
        width: 8em;
        
        aspect-ratio: 2/2;
        transition: transform 0.1s;
        
    }
    .search_Bar_two{
        visibility: visible;
        height: 70%;
        width: 80%;
        position: fixed;
        top: 2.5rem;
        background-color: rgb(229, 229, 229);
        left: 3rem;
        right: 4rem;
        z-index: 1200;
       
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .search_Bar_one{
    height: 0%;
    width: 0%;
    position: fixed;
    top: 0;
    background-color: rgb(229, 229, 229);
   
    z-index: 1200;
   
    visibility: hidden;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.notification_area_front_two{
    visibility: visible;
    position: fixed;
    top:2.5rem;
    left: 2rem;
    z-index: 1300;
    width: 80%;
   height: 60%;
    background-color: #f1f3f4;
}
.notification_area_front_one{
 
    width: 80%;
    position: fixed;
    height: 0%;
     top:0;
     left: 2rem;
     z-index: 1300;
  
    
     background-color: #eeeeee;
     visibility: hidden;
   
    
 }
    .helloBackgroundColorForResponsive{
        display: block;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      height: 4rem;
     
        background-color: rgba(245, 245, 245,1);
        
    }
    
    #Main_Content_Sub{
        display: flex;
        gap: 0.1px;
       
    }
   .Desktop_left_side_menu{
    width: 0%;
    border: none;

   }
    #icon_responsive_instagram_text{
        
        display: none;
    }
    .instaIcon .instagram_text{
        display: block;
        position: fixed;
        top: 0;
        left: 2rem;
        padding: 1rem;
        z-index: 20;
    }
   .leftIconResponsive{
   
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgb(231, 231, 231);
    height: 3rem;

   }
   .homeBro{
    position: fixed;
    bottom: 0;
    left: 1rem;
    padding: 0.5rem;

   }
   .exploreBro{
    position: fixed;
    bottom: 0;
    left: 6rem;
    padding: 0.5rem;
   }
   .ReelsBro{
    position: fixed;
    bottom: 0;
    left: 12rem;
    padding: 0.5rem;
   }
   .messageBro{
    position: fixed;
    bottom: 0;
    left: 18rem;
    padding: 0.5rem;
   
   }
   .createBro{
    position: fixed;
    bottom: 0;
    left: 24rem;
    padding: 0.5rem;
   }
   .notificationBro{
   
    position: fixed;
    top: 0;
    right: 2rem;
    padding: 1rem;
    
   }
  
   
   .searchBro{
    position: fixed;
    top: 0;
    right: 8rem;
    padding: 1rem;
    
   }
   .bottom_left_side_menu{
    display: none;
   }
   
    .footer1{
        display: none;
    }
    .scrollObject{
        display: none;
        
       
    }
    .sec2{
        width:100vw;
      padding-top: 3rem;
     margin-left: -10rem;
      
       
    }
    
   
    .App{
       display: block;
    }
    #subStory{
        display: flex;
        gap: 1rem;
        font-size: 0.7rem;
       text-align: center;
    }
    .imgStory span{
        position: relative;
        bottom: 2.34rem;
    }
    .amanImg{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    #aiOut{
        width: 20px;
       
        border-radius: 50%;
       text-align: center;
        color: white;
        font-weight: bolder;
       background-color: blue;
        position: relative;
        left: 1.4rem;
        bottom: 1.6rem;
    }
}